<!--
  index.ejs
  10/29/2025
  Ayra Babar
  Kyle Revelo
  Khalil Velasco
-->

<section id="hero">
    <img src="/images/front-page-image.png" alt="image of greek statue bust" id="background-image">
    <button onclick="moveDown()"><img src="/images/white-arrow.png" alt="white arrow pointing down" id="white-arrow"></button>
</section>

<section id="about">
    <div>
        <h2 style="font-size: 1.5em;">about eunoia</h2>
        <p style="color: #828282; font-size: 1.4em">eunoia is an aesthetic digital journal where you can write freely, upload your images, and get creative inspiration with the built-in ChatGPT support</p>
        <a href="/gallery" class="black-button">gallery</a>
        <a href="/chat" class="gray-button">chat</a>
    </div>
    <img src="/images/about-eunoia-image.jpg" alt="image of digital camera on table">
</section>

<br><br><br><br>    <!-- add horizontal spacing between the two sections -->

<section id="why">
    <img src="/images/why-eunoia-image.jpg" alt="image of a physical picture journal entry">
    <div>
        <h2 style="font-size: 1.5em;">why eunoia</h2>
        <p style="color: #828282; font-size: 1.4em">we chose eunoia, meaning “beautiful thinking” in Greek, because it reflects our website's purpose of inspiring and fostering self-expression through words, images, and creativity</p>
        <a href="/profile" class="black-button">profile</a>
        <a href="/login" class="gray-button">sign up / login</a>
    </div>
</section>

<section style="display: flex; justify-content: center; margin: 50px;">
    <img src="/images/bow.png">
</section>
